* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-- ----------------------------------------------------------------------------------- --*/
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}
/*-- ----------------------------------------------------------------------------------- --*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: .3s;
}
.navbar.rolagem{
  background-color: rgb(255, 242, 0);
}

.navbar.rolagem a, header.rolagem i{
  color: #333;
}
.navbar .logo img {
  height: 60px;
}
.navbar .nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navbar .nav-links li {
  display: inline;
}
.navbar .nav-links a {
  color: #000;
  text-decoration: none;
  transition: .5s;
}
.navbar .nav-links a:hover {
  color: rgb(255, 0, 106);
}
/*-- ----------------------------------------------------------------------------------- --*/
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  gap: 200px;
  transition: transform 0.5s ease;
}

.carrossel {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  text-align: center;
}

.carrossel img {
  width: 800px;
  object-fit: cover;
  border-radius: 8px;

}

.carrossel p {
  font-size: 1rem;
  color: #555;
}

/*-- ----------------------------------------------------------------------------------- --*/
#antes-btn {
  position: absolute;
  left: 50px;
}

#proximo-btn {
  position: absolute;
  right: 50px;
}
/*-- ----------------------------------------------------------------------------------- --*/
.sobre-nos-card {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 40px auto;
  text-align: center;
  max-width: 600px;
}
/*-- ----------------------------------------------------------------------------------- --*/
.Atendimento{
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 40px auto;
  text-align: center;
  max-width: 600px;
}
/*-- ----------------------------------------------------------------------------------- --*/
.Produtos{
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 40px auto;
  text-align: center;
  max-width: 600px;
}
/*-- ----------------------------------------------------------------------------------- --*/
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px 0;
  width: 100%;
}
